*.o
cfg
drv_ko
out
source
source/buildroot
source/busybox
source/kernel
source/uboot
tools/board/android-tools/android-tools/
tools/board/debian/binary/
tools/board/dm-v_dm-crypt
tools/board/dosfstools/dosfstools*
tools/board/e2fsprogs/e2fsprogs*
tools/board/e2fsprogs/out
tools/board/eudev/eudev*
tools/board/eudev/kmod*
tools/board/exfatprogs/exfatprogs*
tools/board/fio/fio-3.28
tools/board/gdb/expat*
tools/board/gdb/gdb*
tools/board/i2c-tools/i2c-tools-4.3
tools/board/idb_bootconfig/
tools/board/lrzsz/lrzsz-0.12.20
tools/board/memtester/memtester*
tools/board/mtd-utils/mtd-utils-*
tools/board/mtd-utils/out
tools/board/pcre2/pcre2-10.45
tools/board/security
tools/board/strace/strace*
tools/board/stressapptest/stressapptest-master
tools/board/sysstat/sysstat*
tools/board/toolkits/openssl/openssl*
tools/board/toolkits/zlib/zlib*
tools/board/valgrind/valgrind-*
tools/pc/dm-v_dm-crypt
tools/pc/toolkits/resource_tool
util-linux-*
